<html>
	<head>
		<title>Enuke Test Solution</title>
	</head>
	<body ng-app="7SegmentApp">
		<h1>7 segment parser</h1>
        <form  ng-controller="MainCtrl as ctrl" name="ctrl.upload_form">
            <input
                type="file"
                ngf-select
                ng-model="ctrl.file"
                name="file"
                />
            <button type="submit" ng-click="ctrl.submit()">submit</button>
            <p>{{up.progress}}</p>
        </form>
	</body>
	<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
	<script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
	<script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
	<script type="text/javascript" src="main.js"></script>
</html>
